<style>
  .message-contant {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você solicitou uma redefinição de senha para sua conta.</p>
  <p>Se foi realmente você, clique em "Redefinir senha" abaixo:</p>
  <p>
    <a href="{{link}}">Redefinir senha</a>
  </p>
  <p>Se você nao solicitou uma redefinição de senha, descarte este e-mail.</p>
  <p>Atenciosamente,<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
